body {
  height: 100vh;
}

div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  border-radius: 18px;
  height: 300px;
  margin: 20px 40px;
}
